@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>27</title>
</head>
<body>
    <a asp-controller="Home" asp-action="Using">Using</a>
    <a asp-controller="Home" asp-action="Function">Function</a>
    <a asp-controller="Home" asp-action="Inherits">Inherits</a>
</body>
</html>